h1 {
  text-align: center;
  font-size: xx-large;
}
h2 {
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
p {
  font-size: large;
  color: gray;
}
ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
li {
  color: green;
}
figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}
figcaption {
  color: blue;
}

header {
  text-align: center;
}
body {
  text-align: center;
  background-color: black;
}
img {
  max-width: 100%;
  height: 40%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 40%;
}
.logo {
  max-width: 50%;
  height: 10%;
  width: 15%;
}
.avataar {
  max-width: 100%;
  height: 25%;
  width: 20%;
}
* {
  box-sizing: border-box;
}
article {
  column-count: 2;
  column-width: 150px;
  column-gap: 2em;
  column-rule: 1px dotted #ddd;
}
label {
  color: white;
}
#myVideo {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  margin-top: 100px;
  height: 0;
  overflow: hidden;
  width: 80%;
  height: 80%;
  margin: 0 auto;
}
#myVideo iframe {
  position: absolute;
  top: auto;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 600px) {
  body {
    background-color: black;
  }
  #myVideo {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    margin-top: 100px;
    height: 0;
    overflow: hidden;
    width: 70%;
    height: 70%;
    margin: 0 auto;
  }
  #myVideo iframe {
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
